html
  head
    title Kollektor
    link(rel='stylesheet', href='/css/gallery.css')
    script(src='/js/jquery.js')
    script(src='/js/jquery-appear-mod.js')
    script(src='/js/config.js')
    script(src='/js/gallery.js')
    script(src='/js/palette.js')
    script(src='/js/plugin.colors.js')
  body
