body {
  margin: 0;
  font-family: helvetica, verdana, arial;
  background: white;
  xbackground: black;
}

body * {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FF4400;
}

a:hover {
  text-decoration: underline;
}

a.titleLink {
  color: #999;
  display: block;
}

a.refererLink {
  color: rgb(170, 170, 170);
  display: block;
}

div.linksWrapper.contentEditable,
a.contentEditable h2,
a.contentEditable h5 {
  background: #FFFFDD;
}

h1 {
  padding: 0.5em;
  font-size: 200%;
  text-transform: uppercase;
}

h1 a {
  color: #000;
}

h1 span {
  font-weight: 100;
}

.column {
  width: 300px;
  margin: 10px 0 0 10px;
  float: left;
}

.imageWrapper {
  width: 300px;
  position: relative;
  xbackground: yellow;

  x-webkit-transition: all 1s ease-in-out;
  x-moz-transition: all 1s ease-in-out;
  x-o-transition: all 1s ease-in-out;
  x-ms-transition: all 1s ease-in-out;
}

.imageWrapper .titleLink {
}

.imageWrapper {
  margin-bottom: 10px;
}

.imageWrapper img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.imageWrapper .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  display: none;
}

.imageWrapper:hover .overlay {
  display: block;
}

.imageWrapper h2 {
  width: 280px;
  max-width: 280px;
  padding: 5px;
  background: rgba(255, 255, 255, 1);
  color: black;
  xbackground: black;
  xcolor: white;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 125%;
  font-weight: 100;
}

.imageWrapper h5 {
  width: 280px;
  max-width: 280px;
  padding: 5px 5px 0px 5px;
  background: rgba(255, 255, 255, 1);
  xbackground: black;
  xcolor: white;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 75%;
  font-weight: 100;
}


.imageWrapper .linksWrapper {
  width: 280px;
  background: rgba(255, 255, 255, 1);
  xbackground: black;
  padding: 0 5px 5px 5px;
}

.imageWrapper .optionsWrapper {
  background: rgba(255, 255, 255, 1);
  font-size: 90%;
}

.optionsLink {
  color: #AAA;
  font-weight: 100;
  xcolor: rgb(64, 218, 158);
}

.imageWrapper img {
  cursor: pointer;
}

.tagLatestMain {
}

.tagLatestThumb {
  width: 74.25px;
  height: 75px;
  overflow: hidden;
  float: left;
  margin-left: 1px;
}

.tagLatestThumb:first-child {
  margin-left: 0;
}

.set {
  overflow: auto;
}

#dropzone {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  text-align: center;
  background: rgba(255, 255, 0, 0.85);
  display: none;
}

#dropzone.hover {
  display: block;
}

#dropzone p {
  margin: 25% auto;
  font-size: 300%;
}

@media only screen and (max-device-width: 800px) {
  .imageWrapper {
    overflow: visible;
    height: auto !important;
  }

  .imageWrapper .overlay {
    display: block;
    position: inherit;
    padding: 5px;
  }
}